.resizer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 15px;
	height: 15px;
	background: transparent data-uri("image/svg+xml;base64", "../icons/resize.svg") center center no-repeat;
	background-size: 10px;
	background-position: center;
	z-index: 10;
	cursor: nwse-resize;
}
