@yellowPrimary: #FFF19C;
@yellowSecondary: #F1D000;

.stickyItem {
	position: absolute;
	background: @yellowPrimary;
	border: 1px solid @yellowSecondary;
	border-top: 0;
	will-change: left, top, z-index;
}

.stickyItem__header {
	background: @yellowSecondary;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: -1px;
	right: -1px;
}

.stickyItem__draggable {
	width: 100%;
	height: 1px;
	z-index: 2;
	cursor: grab;
	transition: all 0.3s;
	opacity: 0;
	transform: scale(0.5);

	&:before {
		content: '';
		height: 18px;
		display: block;
		width: 10px;
		background-image: data-uri("image/svg+xml;base64", "./icons/dots.svg");
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 10px;
	}
}

.stickyItem__moveStart {
	box-shadow: 10px 10px 50px -15px #979797;
	transform: scale(1.03) rotate(-1.5deg);

	.stickyItem__draggable {
		cursor: grabbing;
	}
}

.stickyItem__move {
	.stickyItem__draggable {
		cursor: move;
	}
}

.stickyItem__remove {
	background-image: data-uri("image/svg+xml;base64", "./icons/close.svg");
	background-size: 10px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	width: 16px;
	border: 0;
	display: inline-block;
	z-index: 3;
	outline: none;
	transition: all 0.3s;
	opacity: 0;
	transform: scale(0.5);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.stickyItem__content {
	position: relative;
	z-index: 4;
}

.stickyItem_hover {
	.stickyItem__draggable {
		height: 18px;
		opacity: 1;
		transform: scale(1);
	}

	.stickyItem__remove {
		opacity: 1;
		transform: scale(1);
	}
}
